<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rest-Framwork Client</title>
    {% load static %}
    {% load i18n %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script>
        var chatSocket = new WebSocket(
            'ws://' + window.location.host + '/');

        chatSocket.onmessage = function (e) {
            console.log('message', e)
            var json = JSON.parse(e.data)
            var div = document.getElementById('resultados');
            div.innerHTML += e.data;
            // Find a <table> element with id="myTable":
            var table = document.getElementById("myTable");
            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(0);
            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            // Add some text to the new cells:
            cell1.innerHTML = json.username;
            cell2.innerHTML = json.password;

        };
        chatSocket.onopen = function (e) {
            console.log("open", e)

        }
        chatSocket.onerror = function (e) {
            console.log('error', e)
        }
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</head>
<body>
    {% block contenido %} {% load static %}
    <div class="nav-header">
        <h4 class="text-danger font-weight-bold col">API-REST client asincrono</h4><br>
        <nav>
            <a href="">Monitor</a>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="jumbotron row text-center">
            <div class="container form-group col">
                <form class="form" action="/post" method="POST" enctype="multipart/form-data">
                    <h4>Autenticación: </h4>
                    <div class="form-group">
                        <label for="">Client Id</label>
                        <input class="form-control" type="text" name="client_id" id="client_id">
                    </div>
                    <div class="form-group">
                        <label for="">Client Secret</label>
                        <input class="form-control" type="text" name="client_secret" id="client_secret">
                    </div>
                    <div class="form-group">
                        <h6 class="text-danger">Introduce un archivo para ser procesado</h6>
                        <input type="file" alt="Submit" name="myfile"><br>
                    </div>
                    <div class="form-group">
                        <label for="">URL para el POST del archivo</label>
                        <input class="form-control" type="url" name="url_post" id="url_post"><br>
                        <button class='btn btn-success' type="submit" value="primera">Enviar Archivo</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                        </tr>
                    </thead>
                    {% for resultado in resultados %}
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>{{ resultado.username }}</td>
                            <td>{{ resultado.password }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <div class="container" id="resultados">
                    <h4 class="text-danger">Resultados </h4>
                </div>
            </div>
        </div>
        {% endblock contenido %}
        <script src="{% static  'js/bootstrap.min.js' %}"></script>
        <div>
</body>
</html>